body{
    padding-bottom: 500px;
}

.texteditor{
    width: 100%;
    height: 400px; 
    box-sizing: border-box;
}

#formatted {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 1.5px;
    overflow: scroll;
}

#nomorWAParent{
    margin-left: 10px;
}

#autoPreviewCheckboxParent{
   margin-top: 10px;
   margin-left: 10px;
}

#autoPreviewCheckboxParent > label {
    cursor: pointer;
}

.not-allowed{
    cursor: not-allowed;
}

#hiddenOutput{
    position: absolute;
    left: -1000px;
    top: -1000px;
}

code{
    color: rgb(68, 100, 126);
}

code.newline{
    display: block;
}

emoji-picker{
    display: none;
}

#btnShowEmoji, #stickyNavButton{
    margin-bottom: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.show{
    display: block;
}

.hide{
    display: none;
}